# Assignment - Basic Pandas
<sup>Created by Natawut Nupairoj, Department of Computer Engineering, Chulalongkorn University</sup>

Using pandas to explore youtube trending data from GB (GBvideos.csv and GB_category_id.json) and answer the questions.

# Thanat Wongsamut 6432067021
please use python 3.9 or above

In [1]:
import pandas as pd
import numpy as np

To simplify data retrieval process on Colab, we heck if we are in the Colab environment and download data files from a shared drive and save them in folder "data".

For those using jupyter notebook on the local computer, you can read data directly assuming you save data in the folder "data".

In [2]:
import sys
IN_COLAB = 'google.colab' in sys.modules
if IN_COLAB:
    !wget https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz -O data.tgz
    !tar -xzvf data.tgz

In [3]:
# Download data file and extract them in local
!curl -LJO https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz
!tar -xzvf data.tgz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 43.3M  100 43.3M    0     0  23.9M      0  0:00:01  0:00:01 --:--:-- 54.5M
x data/
x data/GB_category_id.json
x data/US_category_id.json
x data/USvideos.csv
x data/GBvideos.csv

In [4]:
# read the dataframe
df = pd.read_csv("data/GBvideos.csv")
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...

In [5]:
df.tail()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
38911,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,https://i.ytimg.com/vi/l884wKofd54/default.jpg,False,False,False,NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...
38912,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg,False,False,False,THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...
38913,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg,False,False,False,Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,False,Eleni Foureira represented Cyprus at the first...
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,False,Debut album 'Light of Mine' out now: http://ky...

In [6]:
df.describe(include='all')

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
count,38916,38916,38916,38916,38916.000000,38916,38916,3.891600e+04,3.891600e+04,3.891600e+04,3.891600e+04,38916,38916,38916,38916,38304
unique,3272,205,3369,1625,NaN,3250,3122,NaN,NaN,NaN,NaN,3272,2,2,2,3704
top,Il-an3K9pjg,17.14.11,Maroon 5 - Wait,The Tonight Show Starring Jimmy Fallon,NaN,2018-03-09T05:00:03.000Z,[none],NaN,NaN,NaN,NaN,https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg,False,False,False,► Listen LIVE: http://power1051fm.com/\n► Face...
freq,38,200,40,208,NaN,55,2010,NaN,NaN,NaN,NaN,38,38233,38644,38847,135
mean,NaN,NaN,NaN,NaN,16.827937,NaN,NaN,5.911944e+06,1.345196e+05,7.612560e+03,1.308835e+04,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,7.752728,NaN,NaN,1.900121e+07,3.499893e+05,5.095683e+04,5.066740e+04,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,8.510000e+02,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,2.515272e+05,5.897000e+03,2.000000e+02,6.790000e+02,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,20.000000,NaN,NaN,9.818890e+05,2.518250e+04,8.210000e+02,2.478000e+03,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,3.683628e+06,1.140892e+05,3.357500e+03,9.241500e+03,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,43.000000,NaN,NaN,4.245389e+08,5.613827e+06,1.944971e+06,1.626501e+06,NaN,NaN,NaN,NaN,NaN

## How many rows are there in the GBvideos.csv after removing duplications?

In [7]:
print(f"Number of rows in raw data is {df.shape[0]} rows")

# Remove duplicates rows
df.drop_duplicates(inplace=True)

print(f"Ans: Number of rows after remove duplications rows is {df.shape[0]} rows")

Number of rows in raw data is 38916 rows
Ans: Number of rows after remove duplications rows is 38745 rows

In [8]:
df.describe(include='all')

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
count,38745,38745,38745,38745,38745.000000,38745,38745,3.874500e+04,3.874500e+04,3.874500e+04,3.874500e+04,38745,38745,38745,38745,38137
unique,3272,205,3369,1625,NaN,3250,3122,NaN,NaN,NaN,NaN,3272,2,2,2,3704
top,2z3EUY1aXdY,17.14.11,Maroon 5 - Wait,The Tonight Show Starring Jimmy Fallon,NaN,2018-03-09T05:00:03.000Z,[none],NaN,NaN,NaN,NaN,https://i.ytimg.com/vi/2z3EUY1aXdY/default.jpg,False,False,False,► Listen LIVE: http://power1051fm.com/\n► Face...
freq,38,200,40,206,NaN,55,2002,NaN,NaN,NaN,NaN,38,38066,38474,38680,135
mean,NaN,NaN,NaN,NaN,16.825474,NaN,NaN,5.911293e+06,1.344673e+05,7.605730e+03,1.308039e+04,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,7.752308,NaN,NaN,1.901245e+07,3.498210e+05,5.104554e+04,5.069947e+04,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,8.510000e+02,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,2.509390e+05,5.882000e+03,2.000000e+02,6.770000e+02,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,20.000000,NaN,NaN,9.799490e+05,2.516800e+04,8.200000e+02,2.475000e+03,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,3.675563e+06,1.140220e+05,3.354000e+03,9.223000e+03,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,43.000000,NaN,NaN,4.245389e+08,5.613827e+06,1.944971e+06,1.626501e+06,NaN,NaN,NaN,NaN,NaN

## How many VDO's that contain at least one record (row) of "dislikes" more than "likes"?  <font color=red>DO NOT group by the data and make sure that you count only unique title!</font>

In [9]:
# filter only vdo that contain "dislikes" more than "likes"
result = df[df['dislikes'] > df['likes']]

# count only unique title
result_nuniq = result['title'].nunique()

print(f'Ans: The number of video that contain at least one record of "dislike" more than "likes" is {result_nuniq} rows')

Ans: The number of video that contain at least one record of "dislike" more than "likes" is 56 rows

## How many VDO that are trending on 22 Jan 2018 with comments more than 10,000 comments?

In [10]:
# making condition
condition = (df['trending_date'] == '18.22.01') & (df['comment_count'] > 10000)

print(f"Ans: Number of video that are trending on 22 Jan 2018 (18.22.01) with comments more than 10,000 is {df[condition].shape[0]} videos")

Ans: Number of video that are trending on 22 Jan 2018 (18.22.01) with comments more than 10,000 is 28 videos

## Which date that has the minimum average number of comments per VDO?

In [11]:
# check if any duplicate video_id in each day appear (in 1 day, 1 video should be count only 1 time)

from datetime import datetime, timedelta

# Define the start date
current_date = datetime.strptime('2017-11-14', '%Y-%m-%d').date()
current_passed = 0


while True:
    current_date_df = df[df['trending_date'] == current_date.strftime("%y.%d.%m")]

    if current_date_df.shape[0] != current_date_df['video_id'].nunique():
        print(f'On {current_date.strftime("%y.%d.%m")}, there are duplicate video_id')
        break

    if current_date_df.shape[0] == 0:
        current_date += timedelta(days=1)
        continue

    current_passed += current_date_df.shape[0]

    if current_passed == df.shape[0]:
        print("No duplicate video_id on each day")
        break

    current_date += timedelta(days=1)

On 18.16.05, there are duplicate video_id

In [12]:
df[df['trending_date'] == "18.16.05"].describe(include='all')

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
count,151,151,151,151,151.000000,151,151,1.510000e+02,1.510000e+02,151.000000,151.000000,151,151,151,151,148
unique,148,1,148,148,NaN,148,144,NaN,NaN,NaN,NaN,148,2,2,2,145
top,icyhX6PjKjM,18.16.05,"Calvin Harris, Dua Lipa - One Kiss (Behind the...",CalvinHarrisVEVO,NaN,2018-05-09T23:01:00.000Z,[none],NaN,NaN,NaN,NaN,https://i.ytimg.com/vi/icyhX6PjKjM/default.jpg,False,False,False,"Stream, Download and Listen to Pray feat. Logi..."
freq,2,151,2,2,NaN,2,5,NaN,NaN,NaN,NaN,2,148,150,149,2
mean,NaN,NaN,NaN,NaN,15.715232,NaN,NaN,9.982179e+06,2.241536e+05,11581.397351,21178.311258,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,7.576611,NaN,NaN,2.353893e+07,4.949048e+05,27295.378675,51059.175864,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,6.627900e+04,0.000000e+00,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,7.759760e+05,1.742250e+04,580.000000,1404.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,2.370227e+06,6.071900e+04,1879.000000,5290.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,7.181103e+06,2.226775e+05,8536.500000,17609.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,29.000000,NaN,NaN,1.597558e+08,3.587455e+06,205995.000000,377394.000000,NaN,NaN,NaN,NaN,NaN

In [13]:
df[(df['trending_date'] == "18.16.05") & (df['video_id'] == "icyhX6PjKjM")]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
33988,icyhX6PjKjM,18.16.05,"Calvin Harris, Dua Lipa - One Kiss (Behind the...",CalvinHarrisVEVO,10,2018-05-09T23:01:00.000Z,"calvin harris|""calvin harris dua lipa""|""calvin...",937334,26175,580,913,https://i.ytimg.com/vi/icyhX6PjKjM/default.jpg,False,False,False,Calvin Harris & Dua Lipa – One Kiss (Behind th...
34136,icyhX6PjKjM,18.16.05,"Calvin Harris, Dua Lipa - One Kiss (Behind the...",CalvinHarrisVEVO,10,2018-05-09T23:01:00.000Z,"calvin harris|""calvin harris dua lipa""|""calvin...",937447,26176,580,913,https://i.ytimg.com/vi/icyhX6PjKjM/default.jpg,False,False,False,Calvin Harris & Dua Lipa – One Kiss (Behind th...

#### On 18.16.05, there are duplicate video_id and maybe happen on other day too.

In [14]:
# find average comment_count for each day 
mean_each_day = df.groupby('trending_date')['comment_count'].mean()

# get index (date) of the row that has the minimum average number of comments
min_days = mean_each_day[mean_each_day == mean_each_day.min()].index.to_list()

# convert %y.%d.%m to %d %B %Y
from datetime import datetime
min_days_str = [datetime.strptime(min_day, "%y.%d.%m").strftime("%d %B %Y") for min_day in min_days]

# display all min days seperate with ','
print(", ".join(min_days_str))

15 November 2017

## Compare "Sports" and "Comady", how many days that there are more total daily views of VDO in "Sports" category than in "Comady" category?

In [15]:
# import catagory dataframe
import json
with open('data/GB_category_id.json') as f:
    cat = json.load(f)
cat_list = []
for d in cat['items']:
    cat_list.append((int(d['id']), d['snippet']['title']))
cat_df = pd.DataFrame(cat_list, columns=['id', 'category'])

# merge categorie dataframe to main dataframe with id
df_withcat = df.merge(cat_df, left_on='category_id', right_on='id')

# extract only category and views of Sports and Comedy
df_withcat['sport_view'] = df_withcat['views'] * (df_withcat['category'] == 'Sports')
df_withcat['comedy_view'] = df_withcat['views'] * (df_withcat['category'] == 'Comedy')

# sum view on each day
result = df_withcat.groupby('trending_date').agg(sport_sumview=('sport_view', 'sum'), comedy_sumview=('comedy_view', 'sum'))

condition = result['sport_sumview'] > result['comedy_sumview']

print(f"Ans: The number of days that there are more total daily views of VDO in 'Sports' than in 'Comady' is {result[condition].index.nunique()} days")

Ans: The number of days that there are more total daily views of VDO in 'Sports' than in 'Comady' is 49 days